@page
@model LoginModel

@{
    ViewData["Title"] = "Logga in";
}

<div class="login-page">
    <div class="login-container">
        <h1 class="login-title">@ViewData["Title"]</h1>

        <form id="account" method="post">
            <h2 class="login-subtitle"> Logga in på ditt konto</h2>
            <hr />

            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                <label asp-for="Input.Email" class="form-label">E-postadress</label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="Lösenord" />
                <label asp-for="Input.Password" class="form-label">Lösenord</label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>

            <div class="checkbox mb-3">
                <label asp-for="Input.RememberMe" class="form-label remember-label">
                    <input class="form-check-input" asp-for="Input.RememberMe" />
                    @Html.DisplayNameFor(m => m.Input.RememberMe)
                </label>
            </div>

            <button id="login-submit" type="submit" class="btn btn-primary login-button">Logga in</button>

            <div class="login-links mt-4">
                <p><a asp-page="./ForgotPassword">Glömt ditt lösenord?</a></p>
                <p><a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Registrera ny användare</a></p>
                <p><a asp-page="./ResendEmailConfirmation">Skicka ny e-postbekräftelse</a></p>
            </div>
        </form>

        @if (Model.ExternalLogins?.Count > 0)
        {
            <hr />
            <section class="external-logins">
                <h3>Logga in med en extern tjänst</h3>
                <form asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                    <div>
                        @foreach (var provider in Model.ExternalLogins!)
                        {
                            <button type="submit" class="btn btn-outline-secondary external-btn" name="provider" value="@provider.Name"
                                    title="Logga in med @provider.DisplayName">
                                @provider.DisplayName
                            </button>
                        }
                    </div>
                </form>
            </section>
        }
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}