@page
@model TableTennis.Pages.Game.Create.TableTennisMatchModel
@{
}



@if (string.IsNullOrEmpty(@Model.SetVM.WinnerPlayer))
{
    <form method="post">
        <input type="hidden" asp-for="@Model.Id" />

        <div>
            <p>Player 1: @Model.MatchFormVM.Player1FirstName</p>
            <p>Player 2: @Model.MatchFormVM.Player2FirstName</p>
        </div>


        <div>       
            <p>Player 1 Score: @Model.SetVM.Player1Score</p>
            <p>Player 2 Score: @Model.SetVM.Player2Score</p>
            <p>Current Server: @(Model.SetVM.IsPlayer1Serve ? "Player 1" : "Player 2")</p>
        </div>

        <div>
            <button asp-page-handler="AddPointToPlayer1">Add Point to Player 1</button>
            <button asp-page-handler="AddPointToPlayer2">Add Point to Player 2</button>
        </div>
    </form>
}

else
{
    <div>
        <h3>Winner is @Model.SetVM.WinnerPlayer!</h3>
        <form method="post">
            <button asp-page-handler="StartNewGame">Start New Game</button>
        </form>
    </div>
}